
<li class="commit">
  <%= commit.message %><br />
  <strong><%= commit.author %></strong>
  <%= image_tag(gravatar_url_for(commit.committer.email), {:width => 40, :height => 40})%>
  <%= distance_of_time_in_words_to_now(commit.date) %> ago
</li>
